<div class="footer mt-5" id="footer">
  <div class="container text-center">
    <div class="row py-5">
<div class="col col-12 col-md-6 col-lg-3">
  <h3 class="h1" style="color: wheat;">secondary school</h3>
  <p class="text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
</div>
<div class="col col-12 col-md-6 col-lg-3">
  <h5 class="h1">Our Contacts</h5>
  <p class="text-muted"> <i class="fas fa-map-marker-alt"></i> Your address will be here NY 123456 USA</p>
  <p class="text-muted"><i class="fas fa-phone-alt"></i> +000 123 456 789</p>
  </div>
  <div class="col col-12 col-md-6 col-lg-3">
    <p class="text-muted"><i class="fas fa-mobile-alt"></i> +000  456 789</p><br>
    <p class="text-muted"><i class="fas fa-envelope"></i> School@email.com</p><br>
    <p class="text-muted"><i class="fas fa-at"></i> www.school.com</p>
    </div>
    <div class="col col-12 col-md-6 col-lg-3">
      <h2 class="h1">Follow Us</h2>
      <p><i class="fab fa-3x fa-facebook"></i></p>
      <p><i class="fab fa-3x fa-twitter"></i></p>
      <p><i class="fab fa-3x fa-linkedin"></i></p>


      </div>
    </div>
  </div>
</div>
<p class="copy text-center mt-3">Copyright@2020 by Ahmedfarrag</p>
