<nav class="navbar navbar-expand-lg navbar-light bg-light " id="nav">
  <a class="navbar-brand" href="#">secondary school</a>
  <button (click)="isOpen = !isOpen" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent" [ngbCollapse]="isOpen">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" pageScroll href="#word">Our Schhol</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" pageScroll href="#Excellent">Excellent Students</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" pageScroll href="#footer">Contact Us</a>
      </li>
    </ul>

  </div>
</nav>
