body {
  padding: 50px;
}
.team-img img {
  height: 300px;
  border-radius: 20px;
  width: 100%;
}
.team-img:hover {
  color: #222;
  font-size: 16px;
  transform: scale(0.9, 0.9);
  transition-duration: 0.5s;
}
